# Reduce dependencies to build on heroku(need less than 500MB)
flask>=2.1.2
gunicorn==20.0.4
Pillow>=7.1.2
torch==1.9.1 -f https://download.pytorch.org/whl/torch_stable.html
torchvision -f https://download.pytorch.org/whl/torch_stable.html
torchvision>=0.8.1