<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style.css">

  <title>yolov5 object deteection using PyTorch</title>
</head>

<body>
  <div class="text-center">
    <div>
      <img class="mb-4" src="/static/pytorch.png" alt="" width="72">
      <h1 class="h3 mb-n3 font-weight-normal">Cats and Dogs Yolov5 Classifier</h1>
      <form class="form-signin" method=post enctype=multipart/form-data>
        <p><input class="mt-3" type="file" accept="image/*" name="file" id="file" class="form-control-file"
            onchange="loadFile(event)"></p>
        <!-- <p><label for="file" style="cursor: pointer;">Upload Image</label></p> -->
        <p><img id="output" width="200" /></p>
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
      <p class="mt-5 text-muted">Built using Pytorch, Flask and Love</p>
      <p class="mt-n3 text-muted">Credit to <a href="https://github.com/jzhang533/yolov5-flask" target="_blank">this github repo @jzhang533</a></p>
    </div>
  </div>
  <script src="//code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
    <script type="text/javascript">
      $('#file').bind('change', function() {
          let fileSize = this.files[0].size/1024/1024; // this gives in MB
          if (fileSize > 1) {
            $("#file").val(null);
            alert('file is too big. images more than 1MB are not allowed')
            return
          }

          let ext = $('#file').val().split('.').pop().toLowerCase();
          if($.inArray(ext, ['jpg','jpeg']) == -1) {
            $("#file").val(null);
            alert('only jpeg/jpg files are allowed!');
          }
      });
    </script>
  <script>
    var loadFile = function (event) {
      var image = document.getElementById('output');
      image.src = URL.createObjectURL(event.target.files[0]);
    };
  </script>
</body>

</html>